.post-columns {
    display: flex;
    justify-content: space-between;
}

.user-posts,
.other-posts {
    width: 48%;
}

.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 275px;
    margin: 10px;
    border: var(--borders);
    box-shadow: var(--card-box-shadow);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    border-radius: 10px;
    /* Add background color */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card:active {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 275px;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
    padding: 10px;
    width: 100%;
}

.card-img-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    /* Reduce space between image and text */
}

.card a {
    text-decoration: none;
    color: #333;
}

.card-title {
    margin: 5px 0;
    /* Reduce space between title and other texts */
    font-size: 1.8rem;
}

.card p {
    margin: 5px 0;
    /* Reduce space between paragraphs */
    font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
    .card-container {
        padding: 0 10px;
        /* Reduce padding for smaller screens */
    }

    .card {
        margin: 5px 5px;
        /* Reduce margin for smaller screens */
        width: calc(50% - 10px);
        /* Ensure two cards fit side by side */
    }

    .card:nth-child(odd) {
        margin-right: 5px;
        /* Add a small margin to the right of odd cards */
    }

    .card:nth-child(even) {
        margin-left: 5px;
        /* Add a small margin to the left of even cards */
    }

    .card-img-container img {
        width: 100%;
        height: auto;
        max-height: 80px;
        object-fit: cover;
        margin-bottom: 5px;
    }

    .card-title {
        margin: 5px 0;
        font-size: 1.6rem;
    }

    .card p {
        margin: 5px 0;
        font-size: 1.2rem;
    }
}