.post-columns {
    display: flex;
    justify-content: space-between;
}

.user-posts,
.other-posts {
    width: 48%;
}

.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 275px;
    margin: 10px;
    border: var(--borders);
    box-shadow: var(--card-box-shadow);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    border-radius: 10px;
    /* Add background color */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card:active {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 10px;
    width: 100%;
}

.card-img-container {
    width: 100%;
    height: 200px;
    /* Set a fixed height for the image container */
    overflow: hidden;
    border-radius: 10px;
    /* Slightly rounded corners */
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the container */
    display: block;
}

.card a {
    text-decoration: none;
    color: var(--text-color);
}

.card h1 {
    margin: 10px 0;
    font-size: var(--font-xl);
}

.card p {
    margin: 5px 0;
    font-size: var(--font-reg);
}